[submodule "pack/golang/start/vim-goimports"]
	path = pack/golang/start/vim-goimports
	url = https://github.com/mattn/vim-goimports
[submodule "pack/markdown/start/vim-gfm-syntax"]
	path = pack/syntax/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax.git
[submodule "pack/terraform/start/vim-terraform"]
	path = pack/syntax/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/toml/start/vim-toml"]
	path = pack/syntax/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/sql/start/vim-sqlfmt"]
	path = pack/syntax/start/vim-sqlfmt
	url = https://github.com/mattn/vim-sqlfmt.git
[submodule "pack/colorscheme/start/vim-colors-github"]
	path = pack/colorscheme/start/vim-colors-github
	url = https://github.com/cormacrelf/vim-colors-github.git
[submodule "pack/colorscheme/start/lightline.vim"]
	path = pack/colorscheme/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/lsp/start/asyncomplete-lsp.vim"]
	path = pack/autocomplete/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/lsp/start/asyncomplete.vim"]
	path = pack/autocomplete/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/lsp/start/vim-lsp-settings"]
	path = pack/autocomplete/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/lsp/start/vim-lsp"]
	path = pack/autocomplete/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/vcs/start/vcscommand"]
	path = pack/vcs/start/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "pack/vcs/start/vim-gitgutter"]
	path = pack/vcs/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/syntax/start/vim-varnish"]
	path = pack/syntax/start/vim-varnish
	url = https://github.com/fgsch/vim-varnish.git
